/**
 * @Author: John Isaacs <john>
 * @Date:   27-Sep-172017
 * @Filename: svgstyle.css
 * @Last modified by:   john
 * @Last modified time: 22-Nov-172017
 */



body{

}
SVG {
  display:block;
  margin-left: auto;
  margin-right: auto;

}
#graph{
  width:100% !important;
  height:100% !important;
  overflow: hidden;
}
rect {
  cursor: pointer;
}

  .node {
    cursor: pointer;

  }


  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 10px sans-serif;
    pointer-events: visiblePainted !important;
  }

  path.link {
    visibility:hidden !important;
    stroke-opacity:0.1 !important;
    stroke-dasharray: 0 !important;
  }

  path.count1 {



  }

  path.multi0 {

    /*stroke-opacity:0.5 !important;
    stroke-dasharray: 10 !important;*/
    stroke-dasharray: 10 !important;

  }


  path.selectedLink {
    stroke-opacity:0.5 !important;
    visibility:visible !important;
  }
